@import '../../styles/_colors.scss';

.container {
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // bottom: 0;
  width: 100%;
  background-color: map-get($map: $colors, $key: black);
  height: 10rem;
}

.logo {
  width: 15.79rem;
  height: 3.625;
}
