@import '../../styles/_colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  height: 20rem;
}

.logo {
  width: 15.79rem;
  height: 3.625;
}

.social {
  margin: .5rem auto;
  svg {
    margin: 0 .5rem;
  }
}
