@import '../../styles/_colors.scss';
@import '../../styles/_mixin.scss';

.container {
  position: fixed;
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 10;
  background-color: map-get($map: $colors, $key: white);
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
  margin: 1rem auto;
}

.mobilenav_icontoggle {
  .mobilenav__icon {
    margin: 0 1rem;
    color: map-get($map: $colors, $key: black);
    fill: map-get($map: $colors, $key: black);
    background-color: transparent;
  }

  @include media-min-width(30rem) {
    display: none;
  }
}

.mobilenav__menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 10rem;
  height: 100vh;
  z-index: 20;
  padding: 5rem 0;
  transition: all 0.2s ease-in-out;
  background-color: map-get($map: $colors, $key: white);

  & li {
    list-style: none;
    display: block;
    text-transform: uppercase;
    background-color: transparent;
    margin: 1rem 0;
  }
}

.mobileOn {
  left: 0;
}

.webmenu {
  display: none;

  @include media-min-width(30rem) {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0 1rem;

    & li {
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      background-color: transparent;
      transition: width 0.2s ease-in-out;
      margin: 0 1rem 0 0;
      &:hover {
        cursor: pointer;
      }
    }

    .underline {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      width: 2rem;
      height: 1px;
      background-color: map-get($map: $colors, $key: black);
      transition: all 0.1s ease-in-out;
    }
  }
}

.logbtn {
  background-color: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  width: 9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.logBox {
  color: map-get($map: $colors, $key: white);
  position: absolute;
  right: 0;
  bottom: -19.5rem;
  width: 100%;
  max-width: 20rem;
  height: 19rem;
  background-color: map-get($map: $colors, $key: black);
  padding: 2rem;

  & p {
    margin: 0 auto 1rem auto;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > input {
      padding: 1rem;
      width: 100%;
      min-width: 10rem;
      font-family: inherit;
      font-size: inherit;
      border: 1px solid map-get($map: $colors, $key: grey);
      outline: none;
      margin-bottom: 1rem;

      :focus {
        outline: none;
      }
    }

    .invalid {
      background-color: map-get($map: $colors, $key: red-light);
    }
  }

  .enter {
    align-self: flex-end;
    width: 10rem;
    border: 1px solid map-get($map: $colors, $key: white);
  }

  .btnStatic {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 10rem;
    height: 3rem;
    background-color: map-get($map: $colors, $key: black);
    color: map-get($map: $colors, $key: white);
    border: 1px solid map-get($map: $colors, $key: white);
  }
}

.repoBox {
  z-index: 19;
  position: fixed;
  color: map-get($map: $colors, $key: white);
  height: 100vh;
  right: -100%;
  top: 0;
  width: 100%;
  max-width: 23rem;
  background-color: map-get($map: $colors, $key: black);
  padding: 3rem 2rem 2rem 2rem;
  transition: all 0.2s ease-in-out;

  .projectTabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    & > div {
      width: 4rem;
      text-align: center;
      border: 1px solid map-get($map: $colors, $key: grey);
      cursor: pointer;
    }
    > div:last-of-type {
      cursor: unset;
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid map-get($map: $colors, $key: grey);
    }
    .activeTab {
      border-bottom: 1px solid map-get($map: $colors, $key: black);
    }
  }

  .leftIcon {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
  }

  .logout {
    position: absolute;
    right: 2rem;
    bottom: 0;
    cursor: pointer;
  }

  .between {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      &:hover {
        color: map-get($map: $colors, $key: grey);
        text-decoration: underline;
      }
    }
  }

  .fileIcon {
    margin: 0 1rem;
  }

  .filesBox {
    font-size: 0.9rem;
    inline-size: min-content;
    color: map-get($map: $colors, $key: black);
    overflow: auto;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    width: 100%;
    height: 15vh;
    background-color: map-get($map: $colors, $key: white);

    & > div {
      padding: 0 .5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 1.8rem;
      border-bottom: 1px solid map-get($map: $colors, $key: light-grey);
      &:hover {
        cursor: pointer;
        transition: all .1s ease;
        background-color: map-get($map: $colors, $key: light-grey);
      }
      & > svg {
        cursor: pointer;
        transition: all .1s ease;
        &:hover {
          color: map-get($map: $colors, $key: dark-grey);
        }
      }
    }

    .empty {
      display: flex;
      justify-content: center;
      align-items: center;
      color: map-get($map: $colors, $key: grey);
      width: 100%;
      height: 100%;
      &:hover {
        cursor: unset;
        background-color: map-get($map: $colors, $key: white);
      }
    }
  }

  .filesBox2 {
    height: unset;
    color: map-get($map: $colors, $key: white);
    background-color: map-get($map: $colors, $key: black);
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    cursor: pointer;
    color: map-get($map: $colors, $key: dark-grey);
    background-color: map-get($map: $colors, $key: light-grey);
    border: 2px dashed map-get($map: $colors, $key: dark-grey);
  }
}

.repoOn {
  right: 0;
}
