@import '../../styles/_colors.scss';
@import '../../styles/_mixin.scss';

.container {
  position: fixed;
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 10;
  background-color: map-get($map: $colors, $key: white);
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
  margin: 1rem auto;
}

.mobilenav_icontoggle {
  .mobilenav__icon {
    margin: 0 1rem;
    color: map-get($map: $colors, $key: black);
    fill: map-get($map: $colors, $key: black);
    background-color: transparent;
  }

  @include media-min-width(30rem) {
    display: none;
  }
}

.mobilenav__menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 10rem;
  height: 100vh;
  z-index: 20;
  padding: 5rem 0;
  transition: all 0.2s ease-in-out;
  background-color: map-get($map: $colors, $key: white);

  & li {
    list-style: none;
    display: block;
    text-transform: uppercase;
    background-color: transparent;
    margin: 1rem 0;
  }
}

.mobileOn {
  left: 0;
}

.webmenu {
  display: none;

  @include media-min-width(30rem) {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0 1rem;

    & li {
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      background-color: transparent;
      transition: width 0.2s ease-in-out;
      margin: 0 1rem 0 0;
      &:hover {
        cursor: pointer;
      }
    }

    .underline {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      width: 2rem;
      height: 1px;
      background-color: map-get($map: $colors, $key: black);
      transition: all 0.1s ease-in-out;
    }
  }
}

.logbtn {
  background-color: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  width: 8rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.logBox {
  color: map-get($map: $colors, $key: white);
  position: absolute;
  right: 0;
  bottom: -19.5rem;
  width: 100%;
  max-width: 20rem;
  height: 19rem;
  background-color: map-get($map: $colors, $key: black);
  padding: 2rem;

  & p {
    margin: 0 auto 1rem auto;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > input {
      padding: 1rem;
      width: 100%;
      min-width: 10rem;
      font-family: inherit;
      font-size: inherit;
      border: 1px solid map-get($map: $colors, $key: grey);
      outline: none;
      margin-bottom: 1rem;

      :focus {
        outline: none;
      }
    }

    .invalid {
      background-color: map-get($map: $colors, $key: red-light);
    }
  }

  .enter {
    align-self: flex-end;
    width: 10rem;
    border: 1px solid map-get($map: $colors, $key: white);
  }

  .btnStatic {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 10rem;
    height: 3rem;
    background-color: map-get($map: $colors, $key: black);
    color: map-get($map: $colors, $key: white);
    border: 1px solid map-get($map: $colors, $key: white);
  }
}

.repoBox {
  position: fixed;
  color: map-get($map: $colors, $key: white);
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 20rem;
  background-color: map-get($map: $colors, $key: black);
  padding: 2rem;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid map-get($map: $colors, $key: black-transparent-light);
  border-right: 1.1em solid
    map-get($map: $colors, $key: black-transparent-light);
  border-bottom: 1.1em solid
    map-get($map: $colors, $key: black-transparent-light);
  border-left: 1.1em solid map-get($map: $colors, $key: black);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
