@import '../../styles/_colors.scss';
@import '../../styles/_mixin.scss';

.container {
  position: fixed;
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 10;
  background-color: map-get($map: $colors, $key: white);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
  margin: 1rem auto;
}

.mobilenav_icontoggle {
  .mobilenav__icon {
    margin: 0 1rem;
    color: map-get($map: $colors, $key: black);
    fill: map-get($map: $colors, $key: black);
    background-color: transparent;
  }

  @include media-min-width(30rem) {
    display: none;
  }
}

.mobilenav__menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 10rem;
  height: 100vh;
  z-index: 20;
  padding: 5rem 0;
  transition: all 0.2s ease-in-out;
  background-color: map-get($map: $colors, $key: white);

  & li {
    list-style: none;
    display: block;
    text-transform: uppercase;
    background-color: transparent;
    margin: 1rem 0;
  }
}

.mobileOn {
  left: 0;
}

.webmenu {
  display: none;

  @include media-min-width(30rem) {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0 1rem;

    & li {
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      background-color: transparent;
      transition: width 0.2s ease-in-out;
      margin: 0 1rem 0 0;
      &:hover {
        cursor: pointer;
      }
    }

    .underline {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      width: 2rem;
      height: 1px;
      background-color: map-get($map: $colors, $key: black);
      transition: all 0.1s ease-in-out;
    }
  }
}

.logbox {
  background-color: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  width: 8rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
