| Olá,
| Este é um link para recuperação de senha.
| Se você não solicitou uma alteração de senha para acesso ao portal, por favor, entre em contato comigo.
| Para alterar a senha, acesse o link abaixo:
| #{link}
| Muito obrigada e tenha um ótimo dia!
| Atenciosamente.