| Olá,
| Muitíssimo obrigada por confiar à mim um passo tão grande da sua vida. É com muita dedicação que farei meu melhor para lhe entregar o projeto dos seus sonhos!
| Gostaria de apresentar para você um repositório que criei para manter todos os arquivos, documentos e fotos relacionados ao projeto, para facilitar a comunicação entre você e eu. Sempre que precisarmos trocar alguma papelada, mostrar fotos ou enviar cópias de documentos ou contratos, este será o lugar mais seguro para fazermos isso.
| Para acessar, basta entrar no site #{link} e fazer o login com as seguintes credenciais:
| email: #{email} 
| senha: #{password} 
| Note que esta senha é temporária e você deverá alterá-la quando fizer o primeiro acesso.
| Muito obrigada e até breve!
| Atenciosamente.