@import '../../styles/_colors.scss';

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0;

  .iconspace,
  .textspace {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
  }
}

.primary {
  background-color: map-get($map: $colors, $key: black);
  border: 1px solid map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);

  .textspace {
    width: 100%;
    left: 0;
  }

  .iconspace {
    width: 40%;
    right: 0;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    .iconspace {
      opacity: 1;
    }
    filter: brightness(1.5);
  }
}

.animate {
  &:hover {
    .textspace {
      width: 80%;
    }
  }
}

.secondary {
  background-color: map-get($map: $colors, $key: white);
  border: 1px solid map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: black);

  .textspace {
    width: 100%;
    right: 0;
  }

  .iconspace {
    width: 40%;
    left: 0;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    .iconspace {
      opacity: 1;
    }
    filter: brightness(0.9);
  }
}

.icon {
  fill: map-get($map: $colors, $key: white);
}
