@import '../../styles/_colors.scss';
@import '../../styles/_mixin.scss';

.empty {
  color: map-get($map: $colors, $key: grey);
  font-size: 1.5rem;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  & > section {
    max-width: 50rem;
  }

  padding: 1rem;
  color: map-get($map: $colors, $key: black);
  height: 100%;
  .header {
    width: 100%;
    table {
      border-collapse: collapse;
      td {
        padding: 0 0.8rem;
      }
    }
  }
  .files {
    width: 100%;
    border-top: 1px solid map-get($map: $colors, $key: grey);
    padding-top: 1rem;
    margin-top: 1rem;
    & > p {
      margin-top: 0;
    }
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      & > p {
        margin: 0;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      &:hover {
        background-color: map-get($map: $colors, $key: white);
      }
      & > svg {
        &:hover {
          cursor: pointer;
          color: map-get($map: $colors, $key: dark-grey);
        }
      }
    }
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    cursor: pointer;
    color: map-get($map: $colors, $key: dark-grey);
    background-color: map-get($map: $colors, $key: light-grey);
    border: 2px dashed map-get($map: $colors, $key: dark-grey);
  }

  .filesBox {
    padding-top: 1rem;
    overflow: auto;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    width: 100%;
  }

  .between {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      &:hover {
        color: map-get($map: $colors, $key: dark-grey);
        text-decoration: underline;
      }
    }
  }

  .fileIcon {
    margin: 0 1rem;
  }

  .discontinue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: map-get($map: $colors, $key: dark-grey);
      text-decoration: underline;
    }
    & > svg {
      margin: 0 0.5rem;
    }
  }

  .attentionIcon {
    margin: 0 auto 1rem auto;
    display: block;
  }

  .dialogLong {
    height: 25rem;
    @include media-min-width(25rem) {
      height: 20rem;
    }
  }
}
