@import '../../styles/_colors.scss';
@import '../../styles/_mixin.scss';

.empty {
  color: map-get($map: $colors, $key: grey);
  font-size: 1.5rem;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 1rem;
  color: map-get($map: $colors, $key: black);
  height: 100%;
  .header {
    width: 100%;
    table {
      border-collapse: collapse;
      td {
        padding: 0 0.8rem;
      }
    }
  }
  .files {
    width: 100%;
    border-top: 1px solid map-get($map: $colors, $key: grey);
    padding-top: 1rem;
    margin-top: 1rem;
    & > p {
      margin-top: 0;
    }
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      max-width: 50rem;
      cursor: pointer;
      &:hover {
        background-color: map-get($map: $colors, $key: white);
      }
      & > svg {
        &:hover {
          color: map-get($map: $colors, $key: dark-grey);
        }
      }
    }
  }
}
