@import '../../styles/_colors';

.container {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon_container {
    width: 2rem;
  }

  .icon {
    fill: map-get($map: $colors, $key: dark-grey);
    transition: all 0.3s ease;
  }
  &:hover {
    .icon {
      fill: map-get($map: $colors, $key: whatsapp-color);
      transition: all 0.3s ease;
    }
  }
}
