$colors: (
  white: #f5f4f4,
  white-hover: #e2e2e2,
  light-grey: #e5e5e5,
  grey: #cecece,
  dark-grey: #a7a7a7,
  black: #151515,
  black-hover: #302f2f,
  black-transparent: #151515b9,
  black-transparent-light: #15151567,
  red: #F54748,
);
