@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  min-height: calc(100vh - 9rem);
  max-height: 190vh;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.8rem;
}

.menu {
  padding: 1rem;
  width: 20rem;
  color: map-get($map: $colors, $key: black);
  border-right: 1px solid map-get($map: $colors, $key: grey);
  overflow: auto;

  .projMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .newProj {
      cursor: pointer;
    }
  }

  ul {
    padding-left: 1rem;
    li {
      list-style: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .exit {
    position: absolute;
    bottom: 1rem;
    
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.session {
  width: 100%;
  overflow: auto;
}
