@import '../styles/_colors.scss';

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($map: $colors, $key: white);
  }
  
  .main {
    width: 100%;
    min-height: 100vh;
  }
  
  .content {
  }