@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $colors, $key: white);
}

.main {
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 100%;
  max-width: 70rem;
  margin-top: 4rem;
  min-height: calc(100vh - 14rem);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;

  .galery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 5fr));
    grid-auto-rows: 7rem;
    grid-auto-flow: dense;
    gap: 5px;
    @include media-min-width(40rem) {
      grid-template-columns: repeat(auto-fit, minmax(16rem, 5fr));
      grid-auto-rows: 14rem;
    }
  }

  .galery_item {
    position: relative;
    display: flex;
    border: 1px solid transparent;
    transition: all 0.25s ease;
    overflow: hidden;
    // grid-column: span 2;
    // grid-row: span 2;
    width: 100%;
    // height: 5rem;
    // @include media-min-width(55.5rem) {
    //   width: 5rem;
    //   height: 5rem;
    // }
    .img_info {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 4rem;
      top: -4rem;
      left: 0;
      right: 0;
      color: map-get($map: $colors, $key: white);
      background-color: map-get($map: $colors, $key: black);
      transition: all 0.25s ease;
    }
    &:hover {
      border: 1px solid map-get($map: $colors, $key: black);
      cursor: pointer;
      .img_info {
        top: 0;
      }
    }
  }
}

.img_dialog {
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: map-get($map: $colors, $key: black-transparent);
  cursor: initial;

  .img {
    position: absolute;
    top: 7.5%;
    width: 100%;
    height: 85%;
  }

  .closeIcon {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
  }
}
