@import '../styles/_colors.scss';
@import '../styles/_mixin.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $colors, $key: white);
}

.main {
  width: 100%;
  min-height: 100vh;
}

.sectionOne {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  top: 30%;
  background-color: white;

  @include media-min-width(55.5rem) {
    height: 95vh;
  }

  .logoMain {
    width: 80%;
    max-width: 50rem;
  }

  .logoSub {
    width: 60%;
    max-width: 28rem;
  }
}

.sectionTwo {
  // background-color: map-get($map: $colors, $key: black);

  .projOne {
    width: 100%;

    .description {
      width: 100%;
    }
    .picture {
      display: flex;
      height: 40vh;
    }
  }
}
