@import '../styles/_colors.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $colors, $key: white);
}

.main {
  width: 100%;
  min-height: 100vh;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
  top: 30%;

  .logoMain {
    width: 80%;
    max-width: 50rem;
  }

  .logoSub {
    width: 60%;
    max-width: 28rem;
  }
}

.sectionTwo {
  background-color: map-get($map: $colors, $key: black);
}
